<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
  @for (item of productList; track $index) {
  <div class="col">
    <div class="card h-100 position-relative">
      @if (item.discountPercentage > 10) {
      <span
        class="badge position-absolute top-0 end-0 m-2 fs-6 fw-bold"
        [ngStyle]="{ 'background-color': 'gold', color: 'black' }"
        >Hot Offer</span
      >
      }

      <img [src]="item.image" class="card-img-top" alt="{{ item.title }}" />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <h5 class="card-title">
          {{ item.price | currency : "EUR" : "symbol" }}
        </h5>
        <h3>
          <span class="badge">{{ item.category }}</span>
        </h3>

        <p class="card-text" [ngClass]="'mycls'">{{ item.description }}</p>
      </div>
    </div>
  </div>
  }
</div>
