<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
  @for (movie of listOfMovies; track $index) {
  <a [routerLink]="['/details', movie.id]">
    <div class="col">
      <div class="card h-100 position-relative">
        <app-movie-rating
          [myParentRating]="movie.vote_average"
        ></app-movie-rating>
        <img
          src="{{ 'https://image.tmdb.org/t/p/w500' + movie.poster_path }}"
          class="card-img-top"
          alt="iPhone 9"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
        </div>
      </div>
    </div>
  </a>
  }@empty {
  <h1>No Movies Founded!</h1>
  }
</div>
